<div class="btn-group pull-right" data-toggle="buttons">
    <label class="btn btn-nephritis btn-small js-filter-started">
        <input type="radio"> Running
    </label>
    <label class="btn btn-alizarin btn-small js-filter-stopped">
        <input type="radio"> Stopped
    </label>
    <label class="btn btn-primary btn-small js-filter-all">
        <input type="radio"> All
    </label>
</div>