{% extends "_base.html" %}

{% block content %}
    <div class="js-application">
        <div class="btn-group pull-right" data-toggle="buttons">
            <label class="btn btn-nephritis btn-small">
                <input type="radio" name="options" id="option1"> Running
            </label>
            <label class="btn btn-alizarin btn-small">
                <input type="radio" name="options" id="option2"> Stopped
            </label>
            <label class="btn btn-primary btn-small active">
                <input type="radio" name="options" id="option3" checked> All
            </label>
        </div>
        <h3>Application Containers</h3>
        <table class="table table-middle" id="application-list">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Git</th>
                    <th>Image</th>
                    <th>Container</th>
                    <th>Status</th>
                    <th class="table-application-actions">Actions</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <h3>Images</h3>
        <table class="table table-middle" id="image-list">
            <thead>
                <tr>
                    <th>Repository</th>
                    <th>Tag</th>
                    <th>ID</th>
                    <th>Created</th>
                    <th>Size</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
{% endblock %}