{% extends "_base.html" %}

{% block content %}
    {{applications}}
    {{containers}}
    <table class="table table-middle">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Git</th>
                <th>Docker ID</th>
                <th>Something here</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for app in applications %}
            <tr>
                <td><img src="http://fweddit.com/favicon.ico" alt="" width="20"></td>
                <td><a href="{{app.vhost}}">{{app.name}}</a></td>
                <td><a href="http://gitlab.j4lp.com">feature/beta:1b3afddb83d3</a></td>
                <td>{{app.container}}</td>
                <td>Yada yada</td>
                <td>{{containers[app.container]}}</td>
                <td><a href="#" class="btn btn-small btn-default">Foo</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}