@import "config";

body {
    font-family: 'Lato', sans-serif;
}

.navbar {
    background-color: @concrete;
    border-radius: 0;

    &-nav {
    	li a {
    		color: @clouds;

    		&:hover {
    			color: @clouds;
				background-color: @asbestos;
    		}
    	}
    }

    &-brand {
    	color: @clouds;
    }
}

.table-middle {
    tbody > tr > td {
        vertical-align: middle;
    }
}